# aplicación
APP_NAME=open69b
APP_VERSION=1.0.0
APP_PORT=3000
LAMBDA_PORT=3002

# auth (dejar vacío para deshabilitar)
API_KEY=

# redis (local development)
REDIS_HOST=localhost
REDIS_PORT=6379

# s3 backup
S3_BUCKET=open69b-backups
S3_REGION=eu-west-1

# sat csv source
SAT_CSV_URL=https://wu1agsprosta001.blob.core.windows.net/agsc-publicaciones/Datos_abiertos/Documents_AGAFF/Listado_completo_69-B.csv
